<?php

$finder = new PhpCsFixer\Finder();
$finder->in('app')
    ->exclude('Config');

$config = new PhpCsFixer\Config();
return $config->setRules(
        [
            '@PSR2' => true,
            'array_syntax' => ['syntax' => 'short'],
        ]
    )
    ->setFinder($finder);
